<style type="text/css">
	p{
		margin-top: 300px;
	}
</style>
<div align = "center" >
<form action="/process_login" method="POST" >
	<p>Email:<br> 
		<input type="text" name="email"></p>
	Password: <br>
	<input type="password" name="password"><br><br>
	<input type="submit" name="" value="Login" align="middle">
</form>
</div>
