<style type="text/css">
p{
	margin-top: 300px;
}
	
</style>

<div align = "center">
<form action="register" method="POST">
	<p>Email: <br>
		<input type="text" name="email"><br></p>
	Password:<br>
	 <input type="password" name="password"><br>
	<input type="submit" value="Register">
</form>
</div>