<style type="text/css">
p{
	margin-top: 300px;
}
ul {
	list-style-type: none;
}
.card {
	margin-top: 160px;
}
</style>

<div align = "center">
<div class="card-group" padding: 10px;>
  <div class="card">
    <div class="card-body">
<!--       <h5 class="card-title">Add Barber</h5> -->
     <form action="/admin/addbarber" method="POST">
    <br><br>
	<div>
		<h4>Add a new Barber!</h4>
	</div>
	<br><br>
	<div>
		<label>Barber's Full Name</label>
		<input type="text" name="name">
	</div>
	<br><br><br>
	<input type="submit" value="Submit">
	<br>
</form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
<!--       <h5 class="card-title">delete barber</h5> -->
     <form action="/admin/addbarber" method="POST">
    <br><br>
	<div>
		<h4>Choose which Barber to delete.</h4>
	</div>
	<br>
	<div>
		<ul class="list-group">
		<% @barbers.each do |b| %>
   			<li> <a href = "/admin/delete/<%= b.id %>" class= "list-group-item"><%= b.name %> </a>  </li>
 		<% end %>
		</ul>
	</div>
	<br>
	<br>
</form>

    </div>
  </div>
</div>
</div>