<style type="text/css">
p{
	margin-top: 300px;
}
ul {
	list-style-type: none;
}
.card {
	margin-top: 160px;
	float: left;
}
body {
	background-color: #f1f1f1;
}
</style>

<div align = "center">
	<div class="card-group" padding: 10px;>
  		<div class="card">
    		<div class="card-body">
     			<form action="/admin/addbarber" method="POST">
    			<br><br>
				<div>
					<h4><i><strong>ADD</strong> a barber</i></h4>
				</div>
				<br><br><label>Full Name:</label>
				<div>
					<input type="text" name="name">
				</div>
				<br><br><br>
				<input type="submit" class = "btn btn-dark" value="Submit">
				<br>
					</form>
    		</div>
		</div>

<div class="card">
   <div class="card-body">
    <form action="/admin/addbarber" method="POST">
			    <br><br>
				<div>
					<h4><i><strong>DELETE</strong> a barber</i></h4>
				</div>
				<br>
				<div>
					<ul class="list-group">
					<% @barbers.each do |b| %>
			   			<li> <a href = "/admin/delete/<%= b.id %>" style = fontclass= "list-group-item"><i><%= b.name %></i> </a>  </li>
			 		<% end %>
					</ul>
				</div>
				<br>
					<br>
	</form>
   </div>
  </div>
</div>
</div>