<style type="text/css">
p{
	margin-top: 300px;
}
	
</style>

<div align = "center">
<form action="register" method="POST">
	<p>First Name: <br>
		<input type="text" name="first"><br></p>
	Last Name:<br>
	 <input type="text" name="last"><br>
	<input type="submit" value="Add">
</form>
</div>