<<<<<<< HEAD
<<<<<<< HEAD
<div class="jumbotron">
  <div class="container" style = >
    <h1 class="display-3"><center>Welcome to NY Style Barbershop</center></h1>
    <p></p>
    <center>
		    	<!-- <form action = "/2" method = "POST"> -->
			<!-- <input type = "" name = "Haircut"  >
			<input type = "Submit" name = "Headshave">
			<input type = "Submit" name = "Beardtrim">
			<input type = "Submit" name = "Beardshave">
			<input type = "Submit" name = "Submit"> -->
		
	    	<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Haircut </a></p>
	    	<p><a class="btn btn-primary btn-lg" href="#" role="button">Head Shave </a></p>
	    	<p><a class="btn btn-primary btn-lg" href="#" role="button">Beard Trim </a></p>
	    	<p><a class="btn btn-primary btn-lg" href="#" role="button">Beard Shave </a></p> -->

	</center>
  </div>
=======
<html>
<head>
  <body>
    <style>
    body {
      background-color: #1a1a1a;
    }
  </style>

  <style>
.header {
  text-align: center;
  color: white;
  font-size: 20px;
}
</style>
<div class="header">
  <h1>Welcome to the NY Sytle Barbershop</h1>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<style>
.center {
    display: block;
    margin-left: 175px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    z-index: 1;
    position: absolute;
    width: 70%;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}
</style>
<div class="center">
    <img src="https://media.istockphoto.com/photos/flag-of-the-united-states-picture-id524055319?k=6&m=524055319&s=612x612&w=0&h=xEzJMJc64qy7FbJxqHKbqYIaIiT-X8BnzezaTytRsxA=" alt="American Flag" class="center" class="background">
>>>>>>> 105a85adc3b6a6a316005370b6959e85df74a60c
</div>


<style>
.container {
   /*position: relative;*/
   z-index: 2;
   position: relative;
}
</style>

<style>
.btn-group-toggle {
    /*display: block;*/
    margin: 50px;
}
</style>

<div class="container">
<<<<<<< HEAD
	<center>
      <p><a class="btn btn-secondary" href="#" role="button">Next &raquo;</a></p>
  	</center>
  </div>
</div>
=======
  <div style = "text-align: center; class = "jumbotron">
    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="checkbox" checked autocomplete="off"> Haircut
      </label>
    </div>

    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="checkbox" checked autocomplete="off"> Head Shave
      </label>
    </div>

    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="checkbox" checked autocomplete="off"> Beard Trim
      </label>
    </div>

    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="checkbox" checked autocomplete="off"> Beard Shave
      </label>
    </div>
  </div>
</div>


</body>
</head>
>>>>>>> 105a85adc3b6a6a316005370b6959e85df74a60c
=======
<!-- Index is always supposed to be the Home Page -->
<!DOCTYPE html>
<html>
<head>
  <title>Q-UP Home Page</title>
</head>
<body>
  <h1>Welcome to the NY Style Barbershop</h1>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <!-- <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li> -->
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <!-- <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li> -->
    </ul>
  </nav>

  <form action="/2" method="POST">
    <div class="container">

      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="checkbox" checked autocomplete="off"> Haircut
        </label>
      </div>

      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="checkbox" checked autocomplete="off"> Head Shave
        </label>
      </div>

      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="checkbox" checked autocomplete="off"> Beard Trim
        </label>
      </div>

      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="checkbox" checked autocomplete="off"> Beard Shave
        </label>
      </div>

    </div>
  </form>



</body>
</html>









<html>
<link rel="stylesheet" href="/stylesheet/index.css">
  <head>
    <title> Q-UP </title>
  </head>
    <body>
      <!-- <style>
        body {
          background-color: #1a1a1a;
        }
      </style> -->

      <style>
      .header {
        text-align: center;
        color: white;
        font-size: 20px;
        margin-bottom: 40px;
      }
      </style>


      <div class="header">
        <h1>Welcome to the NY Sytle Barbershop</h1>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <!-- <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li> -->
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <!-- <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li> -->
        </ul>
      </nav>

      <style>
      .center {
          display: block;
          margin-left: 175px;
          margin-right: auto;
          /*margin-bottom: auto;*/
          /*margin-top: auto;*/
          z-index: 1;
          position: absolute;
          width: 70%;
          height: 75%;
          opacity: 0.5;
          filter: alpha(opacity=50); /* For IE8 and earlier */

      }
      </style>
      <div class="center">
        <img src="https://media.istockphoto.com/photos/flag-of-the-united-states-picture-id524055319?k=6&m=524055319&s=612x612&w=0&h=xEzJMJc64qy7FbJxqHKbqYIaIiT-X8BnzezaTytRsxA=" alt="American Flag" class="center" class="background">
      </div>

      <style>
      .container {
         /*position: relative;*/
         z-index: 2;
         position: relative;
      }
      </style>

      <style>
      .btn-group-toggle {
          /*display: block;*/
          margin: 65px;
      }
      </style>

<form action="/2" method="POST">
      <div class="container">
        <div style = "text-align: center; class = "jumbotron">
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <!-- <input type="checkbox" name="Head Shave"> -->
              <input type="checkbox" checked autocomplete="off"> Haircut
            </label>
          </div>

          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <!-- <input type="checkbox" name="Head Shave"> -->
              <input type="checkbox" checked autocomplete="off"> Head Shave
            </label>
          </div>

          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <!-- <input type="checkbox" name="Beard Trim"> -->
              <input type="checkbox" checked autocomplete="off"> Beard Trim
            </label>
          </div>

          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <!-- <input type="checkbox" name="Beard Shave"> -->
              <input type="checkbox" checked autocomplete="off"> Beard Shave
            </label>
          </div>
          <input type="submit" name="Next">
        </div>
      </div>
  </body>
</html>
>>>>>>> home_page
