<div class="jumbotron">
  <div class="container" style = >
    <h1 class="display-3"><center>Welcome to NY Style Barbershop</center></h1>
    <p></p>
    <center>
		    	<!-- <form action = "/2" method = "POST"> -->
			<!-- <input type = "" name = "Haircut"  >
			<input type = "Submit" name = "Headshave">
			<input type = "Submit" name = "Beardtrim">
			<input type = "Submit" name = "Beardshave">
			<input type = "Submit" name = "Submit"> -->
		
	    	<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Haircut </a></p>
	    	<p><a class="btn btn-primary btn-lg" href="#" role="button">Head Shave </a></p>
	    	<p><a class="btn btn-primary btn-lg" href="#" role="button">Beard Trim </a></p>
	    	<p><a class="btn btn-primary btn-lg" href="#" role="button">Beard Shave </a></p> -->

	</center>
  </div>
</div>

<div class="container">
	<center>
      <p><a class="btn btn-secondary" href="#" role="button">Next &raquo;</a></p>
  	</center>
  </div>
</div>