
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/stylesheet/index.css">
  <head>
    <title>Q-UP Home Page</title>
  </head>
    <body>

      <style>
        body {
          background-color: #1a1a1a;
        }
        .header {
          text-align: center;
          color: white;
          font-size: 20px;
          margin-bottom: 40px;
        }
        .motto {
          text-align: center;
          color: white;
        }
        .center {
          display: block;
          margin-left: 135px;
          margin-right: auto;
          z-index: 1;
          position: absolute;
          width: 70%;
          height: 80%;
          opacity: 0.5;
          filter: alpha(opacity=50); /* For IE8 and earlier */
        }
        .container {
         z-index: 2;
         position: relative;
        }
        .dropdown {
        margin: 65px;
        }
      </style>

      <div class="header">
        <h1>Welcome to the NY Sytle Barbershop</h1>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="/">1</a></li>
          <li class="page-item"><a class="page-link" href="/one">2</a></li>
          <li class="page-item"><a class="page-link" href="/two">3</a></li>
        </ul>
      </nav>

      <div class="motto">
        <h4>Choose your style!</h4>
      </div>

      <div class="center">
        <img src="https://media.istockphoto.com/photos/flag-of-the-united-states-picture-id524055319?k=6&m=524055319&s=612x612&w=0&h=xEzJMJc64qy7FbJxqHKbqYIaIiT-X8BnzezaTytRsxA=" alt="American Flag" class="center" class="background">
      </div>

      <form action="/2" method="POST">
      <br>
      <br>
      <div class="container">
        <div style = "text-align: center; class = "jumbotron">
          <div class="dropdown">
            <select name="hairstyle">
              <option value="haircut">Haircut</option>
              <option value="headshave">Head Shave</option>
              <option value="other">Other</option>
            </select>
          </div>
          <br>
          <div class="dropdown">
            <select name="beardstyle">
              <option value="beardtrim">Beard Trim</option>
              <option value="beardshave">Beard Shave</option>
              <option value="other">Other</option>
            </select>
          </div>
          <br>



          
          <!-- <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="checkbox" checked autocomplete="off"> Haircut
            </label>
          </div>

          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="checkbox" checked autocomplete="off"> Head Shave
            </label>
          </div>

          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="checkbox" checked autocomplete="off"> Beard Trim
            </label>
          </div>

          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="checkbox" checked autocomplete="off"> Beard Shave
            </label>
          </div> -->
          <br>
          <div>
            <input type="submit" name="Next">
          </div>
        </div>
      </div>
    </form>
  </body>
</html>

