<!DOCTYPE html>
<html>
<head>
	<title>Q-UP Success</title>
  <meta http-equiv="refresh" content="3;url=http://localhost:4567/" />
</head>
<body>
	<style>
        body {
          background-color: #1a1a1a;
        }
        .motto {
          margin-top: 300px;
          margin-bottom: auto;
          text-align: center;
          color: black;
        }
      </style>

    <div class="motto">
    	<h2>You have been successfully Queued Up! Please wait in the lobby.</h2>
    </div>
</body>
</html>