<form>
	<div>
		<h5> sign-out </h5>
		<h4>choose your name</h4>
	</div>
	<br>
	<div>
		<ul class="list-group">
		<% @barbers.each do |b| %>
   			<li> <a href = "/sign_out/<%= b.id %>" class= "list-group-item"><%= b.name %> </a>  </li>
 		<% end %>
		</ul>
	</div>
	<br>
	<br>
</form>