<!DOCTYPE html>
<html>
<body>

<h2>  </h2>


<ul>
	<% @barbers.each do |b| %>
   	<li> <%= b.name %> </li>
   	 <% customers = b.wait_list %>
     <ul>
     	<% customers.each do |c| %>
     	<li><%= c.name %></li>
     	
 <% end %>
 <br>
 <% end %>
     </ul>

 </ul>

</body>
</html>